<div class='task-name'><b>Task: </b><%=task.name%></div>
<div class='task-author'><b>Author: </b><%=task.user.name%></div>
<div class='task-description'><b>Description: </b><%=task.description%></div>
<div class='task-finished'> <%= link_to "Finished", board_path %> </div>